<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>938911473988-4qsdvl8mfh1kb24lujdm7ovgerusc7ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938911473988-4qsdvl8mfh1kb24lujdm7ovgerusc7ij</string>
	<key>API_KEY</key>
	<string>AIzaSyAdX6XvUb0ubllaw96HBvpbE5CetAkPjfM</string>
	<key>GCM_SENDER_ID</key>
	<string>938911473988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal.KennyAssessment</string>
	<key>PROJECT_ID</key>
	<string>assessment-kenny</string>
	<key>STORAGE_BUCKET</key>
	<string>assessment-kenny.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938911473988:ios:e646a98d4b179024</string>
	<key>DATABASE_URL</key>
	<string>https://assessment-kenny.firebaseio.com</string>
</dict>
</plist>